.tool{
    width: 80%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.header img{
    display: inline;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.header span{
    margin-left: 15px;
    width: 90%;
}

.rounded-border{
    background-color: rgba(226, 226, 226, 0.774);
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px 5px;
}
.d-flex{
    display: flex;
}
.rounded-borders{
    width: 100%;
    flex-wrap: wrap;
}
.container p{
    color: black;
}

.icon-circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* yona code  */
   .subtitle {
        margin: 0 0 15px;
        font-size: 14px;
        color: #555;
    }
.key-title {
        font-weight: bold;
        margin-top: 15px;
    }

    ul {
        margin: 10px 0 0;
        padding-left: 20px;
    }

    /* BEST FOR TAGS */
    .tags {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tag {
        padding: 6px 14px;
        background: #e7e7e7;
        border-radius: 20px;
        font-size: 13px;
    }