

.ai-tools{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.tool{
    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}
.header{
    background-color: #1d3e6f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border: #1d3e6f solid 1px;
    border-radius: 10px;
    padding: 10px;
}

.icon-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-items: center;
}