.contact-container{
    width: 100%;
    background-color: #fff;
    padding: 30px 0px;
}
.contact-us{
    width: 70%;
    margin: auto;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
}
h2{
    color: #30476D;
}
p{
    color: grey;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.contact-input{
    border: 0px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin: 20px 0px;
}