.tool{
    width: 80%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.header img{
    display: inline;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.header span{
    margin-left: 15px;
}

.rounded-border{
    background-color: rgba(226, 226, 226, 0.774);
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px 5px;
}
.d-flex{
    display: flex;
}
.rounded-borders{
    width: 100%;
    flex-wrap: wrap;
}
p{
    color: black;
}