 

body{
    margin: 0;
    padding: 0;
    background-color:#30476D;
    font-family: 'inter';
    font-size: larger;
    
}
h1{
    margin: 0;
}
p{
    color: #D6D6D6;
}
.navbar{
    color:white;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
     padding-left: 5rem;
    padding-right: 5rem;
}
.links{
    display: flex;
}
.links a{
    margin: .5rem;
    color:white;
    text-decoration: none;
    cursor: pointer;
}
.links a:visited{
    color: #D6DAE2;
    
}
 
.information-text{
    color:white;
    text-align: center;
    margin-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;  
}
.information-text p{
    color:#D6D6D6;
    font-size: larger;
 
}
.img{
    position: relative;
    text-align: end;
    bottom: -.4rem;
    right: -1rem;
    z-index: -1;
    padding: 0;
}

.about{
    height: 240px;
    background-color: white;
    padding-top: 4rem;
    text-align: center;  
    padding-left: 5rem;
    padding-right: 5rem;
}
.about p{
    color: #848484;
}
.about .btn{
    padding: .3rem 1rem;
    color: white;
    background-color: #30476D;
    border-radius: .5rem;
    font-size: 1rem;
}

.AI-Tools{
    text-align: center;
    background-color:white;
    padding-bottom: 2rem;
    
}
.background{
    background-color: #D6DAE2;
    padding-top:4rem;
     
}
.box{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
    
}
.box p{
    padding: .5rem 1rem;
    margin: .2rem .2rem;
    border-radius: .4rem ;
    background-color: white;
    color:black;
}

.AI-Tools .btn{
    margin-top:1rem;
    position: relative;
    left: 40%;
    padding: .3rem 1rem;
    margin: 2rem 0;
    color: white;
    background-color: #30476D;
    border-radius: .5rem;
    font-size: 1rem;
}

.footer{
    text-align: center;
}

.btn:hover{
    background-color: #1d3e6f;
    cursor: pointer;
}

.aboutPage {
    height: max-content;
    padding-bottom: 1rem;
}

.aboutPage p{
    color:black;
}

.Questions{
    text-align: start;
    background-color: white;
    padding: 2rem 5rem;
     
}
.Questions p{
    color: black;
}